.contacts{
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../İMG/background.png);
    background-attachment: fixed;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
}
.contact-header {
    text-align: center;
    margin-bottom: 30px;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.60 );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px 35px 10px 35px;
    margin-top: 30px;
    padding: 8px;
    
}
.contact-header h2 {
    font-family: 'Comfortaa', sans-serif;
    color: #707070;
    font-size: 50px;
}

/* iletişim */
#contact{
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../İMG/background.png);
    background-attachment: fixed;
    overflow-x: hidden;
}
.contact-left{
    flex-basis: 35%;
    
}
.contact-right{
    flex-basis: 60%;

}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i {
    color: #000000;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover{
    color: #ffffff;
    transform: translateY(-5px);
}
.btn2{
    display: inline-block;
    background: #000000;
    padding: 15px 50px;
    width: 180px;
}
.btn2:hover{
    color: #ababab;
}

.contact-right form{
    width: 100%;


}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

