

.projects{
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: url(../İMG/background.png);
    background-attachment: fixed;
    overflow-x: hidden;
    z-index: 1;
}
.sub-title {
    text-align: center;
    margin-bottom: 30px;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.60 );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px 35px 10px 35px;
    margin-top: 30px;
    
}
.sub-title{
    font-family: 'Comfortaa', sans-serif;
    color: #707070;
    font-size: 50px;
}
#portfolio{
    padding: 70px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition:  1s;


}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(103, 103, 103, 0.6), #d1d1d1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition:  height 0.7s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: 30px;
    border: 1px solid #000000;
    padding: 10px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition:  0.6s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn:hover{
    background: #000000;
}
